jobs:
  build:
    name: Build on Node.js ${{ matrix.node }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node:
          - 20
          - 22
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version: ${{ matrix.node }}
      - name: Upgrade npm
        run: npm install npm@latest -g
      - env:
          DEBIAN_FRONTEND: noninteractive
        name: Install dependent packages
        run: |
          sudo apt install \
            libcairo2-dev \
            libpango1.0-dev \
            libpixman-1-dev
      - name: Setup modules
        run: npm ci
      - name: Build
        run: npm run build
name: Build
on:
  push:
    branches:
      - main
